In [9]:
#import libraries
import pandas as pd
import numpy as np
import os
import datetime as dt

In [10]:
#Create path
path = r'/Users/rusamijan/04-2023 Adidas Sales Analysis'

In [11]:
#Import data
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ad_cleaned.pkl'))

In [12]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,50%,In-store
1,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,30%,In-store
2,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,35%,In-store
3,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,35%,In-store
4,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,30%,In-store

In [13]:
df.shape

(9648, 13)

In [14]:
# Removing columns that we don't use for analysis
df1=df.drop(['Retailer', 'Retailer ID', 'Operating Margin'], axis = 1, inplace = True)

In [15]:
df.head()

,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,1/1/20,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,In-store
1,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,In-store
2,1/3/20,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,In-store
3,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,In-store
4,1/5/20,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,In-store

In [16]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'adidas_4analysis.csv'))